<!-- Page for confirming the issue of a resource -->
{% from "_render_field.html" import render_field %}
{% extends "_layout.html" %}
{% block title %}Confirm which resource you would like to issue{% endblock %}
{% block content %}

<h1>Are you sure you want to issue this resource to {{ selectuser }}?</h1>

<h2>Resource #{{ this_resource.resourceID }}</h2>

{{ this_resource.resourceModel }}
{% if this_resource.resourceImage == None %}
<td><img src="{{ url_for('static', filename='images/' + 'blank.png') }}" style="width:8vh"></td>
{% else %}
<td><img src="{{ url_for('static', filename='images/' + this_resource.resourceImage.decode('utf-8')) }}" style="width:8vh"></td>
{% endif %}

<button type="button" onclick="location.href='/performIssue?resourceID={{ this_resource.resourceID }}?userID={{ selectuser }}';" style="cursor: pointer;">Borrow</button>

{% endblock %}