<!-- Page for updating a certain existing entry -->
{% from "_render_field_update.html" import render_field_update %}
{% extends "_layout.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

<div class="linkbox container-fluid">
    <h1>Update User Details:</h1>

    <form method="post" enctype="multipart/form-data" novalidate="novalidate" action="/performEdit">
        <input type="hidden" name="userID" value="{{ this_user.userID }}" /><br>
        {{ form.csrf_token }}
        {{ render_field_update(form.userName, this_user.userName) }}
        {{ render_field_update(form.email, this_user.email) }}
        {{ render_field_update(form.firstName, this_user.email) }}
        {{ render_field_update(form.lastName, this_user.lastName) }}
        {{ render_field_update(form.yearLevel, this_user.yearLevel) }}
        {{ render_field_update(form.tutorGroup, this_user.tutorGroup) }}
        {{ render_field_update(form.role, this_user.role) }}
        <input type="submit" />
    </form>
</div>

{% endblock %}