<!-- Home page for the site -->
{% extends "_layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="morepadding">
                <h2>
                    Here consists of some Frequently Asked Questions regarding the issuing of cameras.
                </h2>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>How long can I borrow a camera for?</h3>
                <h3>There is no set limit, unless specified.</h3>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>When will I know I need to return my camera?</h3>
                <h3>...</h3>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>What if I lose/damage a resource?</h3>
                <h3>You will be contacted regarding this matter. You are able to leave a note detailing the damage when you return the resource.</h3>
            </div>
        </div>



    </div>
{% endblock %}