<!-- Page for creating a new entry -->
{% from "_render_field.html" import render_field %}
{% extends "_layout.html" %}
{% block title %}Set a new password{% endblock %}
{% block content %}

    <div class="linkbox container=fluid">

        <h1>Set a new password here:</h1>

        <form method="post" action="/performsetnewpassword" enctype="multipart/form-data" novalidate="novalidate">
            <input type="hidden" name="userID" value="{{ userID }}" /><br>
            {{ form.csrf_token }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            <input type="submit" value="Update password" />
        </form>

    </div>

{% endblock %}